.map {
    display: inline-block;
    margin: 0;
    font-size: 14px; 
    line-height: 1.295rem;
    letter-spacing: .6rem;

    // font-size: 12px; 
    // line-height: 0.6;
    // letter-spacing: initial;

    &__node {
        cursor: pointer;
    }
}